@page "/login"

@if (isAuthenticated)
{
    <h3>Welcome, @user.UserName</h3>
}

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group my-2">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.UserName" class="form-control"></InputText>
    </div>
    <div class="form-group my-2">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary my-2">Login</button>
    <ValidationSummary/>
</EditForm>

@code {
    bool isAuthenticated = false;
    private UserLogin user = new UserLogin();
    private void HandleLogin()
    {
        Console.WriteLine($"{user.UserName} // {user.Password}");
        isAuthenticated = true;
    }
}
